body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding: 16px;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

nav a:hover {
  background: #222;
  border-radius: 8px;
}
